
h1 {

margin: 0 auto;

text-align: center;


}

h2 {

font-family: Arial;


}

p {

margin: 0 auto;

text-align: center;

width: 750px;

font-style: oblique;

}

body {


background-color: rgb(195, 241, 249);



}

img {

width: 750px;



}


a {

Margin: 0 auto;

text-align: center;

Width: 750px;


}